.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: var(--color-primary);
    border-radius: 50%;
    border: 1px solid transparent;
    outline: none;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
}

.icon-button:hover,
.icon-button:focus {
    background-color: var(--color-primary-pale);
}

.icon-button:disabled {
    pointer-events: none;
    opacity: 0.5;
}