.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--modal-width);
    max-height: var(--modal-height);
    margin: 32px;
    padding: 40px 20px 20px;
    background-color: var(--color-background-secondary);
    border-radius: var(--modal-radius);
    box-shadow: 0 0 10px var(--modal-box-shadow);
    overflow-y: auto;
}

.modal__overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: var(--color-background-overlay);
    z-index: -1;
}

.modal__overlay.show {
    display: flex;
}

.modal__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-border-default);
}

.modal__header .header {
    color: var(--color-text-primary);
}

.modal__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 16px;
}

@media (max-width: 480px) {
    .modal__header .header {
        font-size: 1.5rem;
    }
}