.textarea {
    width: 100%;
    min-height: 32px;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid var(--color-border-default);
    font-family: -apple-system, 'Roboto', 'Helvetica Neue', sans-serif;
    outline: none;
    transition: border-color 0.2s ease-in;
}

.textarea:hover {
    border-color: var(--color-primary);
}

.textarea:active,
.textarea:focus {
    border-color: var(--color-primary);
}

.textarea::placeholder {
    color: var(--color-border-default);
}