.textarea {
    width: 100%;
    min-height: 32px;
    padding: 10px 16px;
    font-size: 0.875rem;
    line-height: 1.25;
    border-radius: 4px;
    border: 1px solid var(--color-border-default);
    color: var(--color-text-primary);
    background-color: var(--color-background-form-field);
    font-family: -apple-system, 'Roboto', 'Helvetica Neue', sans-serif;
    outline: none;
    transition: border-color 0.2s ease-in;
}

.textarea:hover {
    border-color: var(--color-primary);
}

.textarea:active,
.textarea:focus {
    border-color: var(--color-primary);
}

.textarea::placeholder {
    color: var(--color-border-default);
}

.textarea:disabled {
    background-color: var(--color-background-form-field-disabled);
    border: 1px solid var(--color-border-default);
    resize: none;
}