.questions-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.questions-list__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.questions-list__content .placeholder {
    margin-top: 60px;
}

.questions-list__content .question-card {
    max-width: 66%;
}

.questions-list__header {
    margin-bottom: 22px;
}

.questions-list__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    color: var(--color-text-main);
}

.questions-list__subtitle {
    font-size: 16px;
    color: var(--color-text-caption);
}