.app-header {
    position: sticky;
    top: 0;
    padding: 16px 24px;
    background-color: var(--color-background-primary);
    border-bottom: 1px solid var(--color-border-default);
    z-index: 2;
}

.app-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .app-header__wrapper {
        flex-direction: column;
    }

    .app-header__wrapper .header {
        font-size: 1.5rem;
    }
}