.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app__header {
  padding: 16px 24px;
  background-color: var(--color-primary);
  border-bottom: 1px solid var(--color-border-default);
}

.app__title {
  font-weight: 600;
  font-size: 24px;
  color: var(--white);
}

.app__main {
  display: flex;
  height: 100%;
  padding: 16px 24px;
  overflow-y: hidden;
  background-color: var(--color-background-pale);
}