@import "shared/styles/reset.css";
@import "shared/styles/variables.css";

html, body, #root {
  height: 100%;
  font-family: -apple-system, 'Roboto', 'Helvetica Neue', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: var(--color-background);
}

body {
  cursor: default;
}

div, p, h1, h2, h3, h4, h5, h6, section, main, article, aside, button, input, textarea {
  box-sizing: border-box;
}

.modal-container {
  position: fixed;
  z-index: 1000;
}
